<% ["primary", "secondary", "success", "danger", "warning", "info", "light", "dark"].each do |alert| %>
  <% if flash[alert.to_sym].present? %>
    <div class="alert alert-<%= alert %> alert-dismissible fade show flash-alert" role="alert">
      <%= raw(flash[alert.to_sym]) %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <script>$("html, body").animate({ scrollTop: 0 }, "slow");</script>
  <% end %>
<% end %>

<% if errors.present? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div><%= t(:following_errors_encountered) %></div>
    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <script>$("html, body").animate({ scrollTop: 0 }, "slow");</script>
<% end %>